<html>
  <head>
    <title>ECE Graduate Program</title>
  </head>
  <body>
    <h1>ECE Graduate Program Forms</h1>
    <form action="ms_pos_form">
      <button type="submit">MS Program of Study</button>
    </form>
    <form action="phd_pos_form">
      <button type="submit">PhD Program of Study</button>
    </form>
    <form action="meng_pos_form">
      <button type="submit">MEng Program of Study</button>
    </form>
    <form action="independent_study_form">
      <button type="submit">Independent Study Form</button>
    </form>

  </body>
</html>
